@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import "/css/fonts.css";

.menubar {
    padding: 7px 0px;
    margin: 0 0;
    background-color: black;
    vertical-align: middle;
    font-weight: bold;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

.menubar a {
    color: white;
}

header {
    color: white;
    width: 100%;
    background: url("/img/hopital.png") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container > .row-fluid {
  margin: 20px 0;
}

body {
  font-family: Fauna One;
}

.bg-black h2, .bg-red h2 {
  font-size: 20px;
  font-weight: 900;
  color: #FFFFFF;
  line-height: 24px;
  margin: 0;
}

.bg-black h3, .bg-red h3 {
  font-size: 20px;
  font-weight: 100;
  color: #FFFFFF;
  line-height: 24px;
  margin: 0;
  display: inline-block;
  margin: 0 20px;
}

.bg-black p, .bg-red p {
  font-size: 16px;
  font-weight: 100;
  color: #FFFFFF;
  line-height: 24px;
  margin: 10px 0;
}

.bg-red {
  background: rgba(209, 81, 81, 0.7);
  padding: 15px;
}

.bg-black {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
}

.bg-black .span9 {
  padding-left: 10px;
}

.home-title img {
    padding: 20px 0px 20px 0px;
    margin-bottom: 1px;
}

.icon-container {
  margin-top: 8px;
}

.logo {
    width: 8em;
}

.hh {
    font-size: 12px;
    font-family: sans-serif;
}

.center {
    text-align: center;
}

.p9 {
    padding: 9px 0px;
}
.title-box {
    padding-top: 1em;
}

.title {
    font-size: 4em;
    display: inline-block;
    font-family: sans-serif;
    letter-spacing: 9px;
}

.menu > li {
    display: inline-block;
    width: 164px;
    padding: 0px 5px;
    text-align: center;
    vertical-align: top;
}

.subtitle {
    padding-left: 6em;
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: 9px;
}

#date {
    font-family: Fauna One;
    float: left;
    padding: 20px 55px 22px 30px;
}

a .icon-calendar {
    font-size: 26px;
    background-color: rgb(79, 137, 155);
    border-radius: 23px;
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
}

a:hover .icon-calendar {
    color: #5f5f5f;
}

a .icon-map-marker {
    font-size: 35px;
    background-color: rgb(79, 137, 155);
    border-radius: 22px;
    padding: 6px 12px 3px 12px;
    color: white;
    text-decoration: none;
}

a:hover .icon-map-marker {
    color: #5f5f5f;
}

#location {
    font-family: Fauna One;
    float: right;
    padding: 15px 30px 16px 11px;
    background: rgba(0,0,0,0.7);
    text-align: right;
}

#location span i {
    font-size: 18px;
}

span.date {
    display: inline-block;
    font-size: 20px;
    padding: 0px 0px 0px 22px;
}

span.location {
    display: inline-block;
    height: 32px;
    line-height: 20px;
    font-size: 20px;
    padding: 0px 27px 0px 0px;
}

#health-professionals-box {
    padding: 10px 0px 0px 11px;
    float: left;
    background: rgba(0,0,0,0.7);
    margin: 20px 0px 20px 67px;
    font-family : Fauna One
}

#hackers-box {
    padding: 10px 0px 0px 11px;
    float: right;
    background: rgba(0, 0, 0, 0.7);
    margin: 20px 70px 20px 0px;
    font-family: Fauna One;
}

#health-professionals-box img, #hackers-box img {
    float: left;
    margin: 0px 20px 10px 0px;
}

#hackers-box img {
    float: left;
    margin: 0px 20px 10px 0px;
}

#health-professionals-box h2, #hackers-box h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 900;
}


#health-professionals-box p, #hackers-box p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 150%;
}

#signup-bottom {
    clear: both;
    padding: 10px 0px;
    text-align: center;
    background: rgba(209, 81, 81, 0.7);
    margin: 20px auto;
    line-height: 25px;
}

#signup-bottom p {
    font-size: 18px;
    font-family : Fauna One;
    padding: 0px 50px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 200px;
}

section h2 {
    font-family: Fauna One;
}

section p, section ul, section li {
    font-size: 18px;
    line-height: 25px;
}

.theme {
    font-family: arial;
    text-align: left;
    font-size: 17px;
    line-height: 28px;
    margin: auto;
}

.accordion {
    font-size: 18px;
    line-height: 24px;
}

.accordion-heading {
    font-weight: bold;
}

.news {
    background-color: #92006b;
    color: white;
}
.concept {
    background-color: #4E8792;
    color: white;
}
.defi {
    background-color: #A5BD7A;
    color: white;
}
.equipe {
    background-color: #993642;
    color: white;
}
.deroulement {
    background-color: #43AAB8;
    color: white;
}
.questions {
    background-color: #F0996D;
    color: white;
}
.matos {
    background-color: #88644c;
    color: white;
}
.presse {
    background-color: #4B5E57;
    color: white;
}
.sponsors {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

.sponsors img {
    width: 100px;
}

.well {
    background-color: initial;
}

.calbox  {

    border: black solid 0px;
    padding: 0px -5px 0px 4px;
    height: 280px;
    background: url('/img/calendar.png')no-repeat;
    color: black;
    width: 270px;
    margin-left: 80px;
}

.calbox p { font-size: 16px; }

.nav-list > li > a {
  text-shadow: none;
  padding: 3px 10px;
}

.nav-list > li > a:not(.social-media) {
  margin: 0 5px;
}


.nav-list > li > a.social-media {
    color: white;
    padding: 2px 5px;
    border-radius: 2px 2px;
    margin: 0 3px;
}

.nav-list > li > a.social-media:hover {
    text-decoration: none;
}

.nav-list > li > a.facebook {
    background-color: #3B5998;
    padding: 2px 10px;
}
.nav-list > li > a.twitter {
    background-color: #00aced;
}
.nav-list > li > a.gplus {
    background-color: #C63D2D;
}
.nav-list > li > a.linkedin {
    background-color: #4875B4;
    padding: 2px 7px;
}

.text-justify {
    text-align: justify;
}

.btn {
    font-size: 28px;
    line-height: 30px;
    padding: 14px 20px;
}

.card-text {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    width: 210px;
}
.card-img {
    display: inline-block;
}

@media (min-width: 900px) {
    body {
        margin-top: 64px;
    }
}

@media (max-width: 1339px) {
  .container > .row-fluid:first-child {
    margin: 40px 0;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
}

.navbar-fixed-top {
  margin-bottom: 0;
}

body {
  padding-left: 0;
  padding-right: 0;
}

.nav {
  min-height: auto;
  margin: 0 0 20px 0;
  padding: 0;
  background-color: black;
  font-size: 1.1em; }

nav {
  min-height: 0;
  margin-bottom: 1em;
  padding: 0.6em 0;
  text-align: center;
  background-color: black;
}

.nav-list {
  padding-left: 0;
  margin-left: 0; }
  .nav-list li {
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .nav-list a:not(.social-media) {
    transition: background-color 0.3s ease-in-out 0s;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out 0s; }
    .nav-list a:not(.social-media):visited {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s ease-in-out 0s; }
    .nav-list a:not(.social-media):hover {
      color: white;
      transition: color 0.1s ease-in-out 0s; }

.blog .date {
    background-color: #177491;
    color: #FFFFFF;
    float: right;
    font-size: 20px;
    height: 60px;
    padding: 7px;
    text-align: center;
    width: 60px;
}
.blog .date .month {
    font-weight: bold;
    text-transform: uppercase;
}
article .contentblock {
    border-left: 1px solid #177491;
    margin-left: 0;
    padding-left: 20px;
}
article .contentblock p:last-child {
    margin-bottom: 0;
}
article .contentblock a.more {
    font-weight: bold;
}
article .post_title {
}
article .post_title a, article .title a:hover, article .title a:visited, article .post_title a:focus {
    color: #000000;
}
article p img {
    float: left;
    margin-right: 10px;
    width: 230px;
}
.separator {
    padding: 10px 0;
}

@media screen and (max-width: 19.938em) {
  .nav-list {
    width: 100%;
    padding-left: 0; }
    .nav-list li {
      width: 100%; }
}

@media (max-width: 979px) and (min-width: 768px) {
    .title {
        font-size: 3em;
        letter-spacing: 7px;
    }
    .subtitle {
        font-size: 1em;
        letter-spacing: 3px;
    }
}

/*                              500px */
@media screen and (max-width: 31.25em) {
  nav {
    padding: 0;
    margin: 0; }

  .nav-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 0; }
    .nav-list li {
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      padding: 0.5em;
      color: transparent;
      transition: background-color 0.3s ease-in-out 0s;
      display: block; }
      .nav-list li:hover, .nav-list li:active {
        background-color: #545454;
        transition: background-color 0.1s ease-in-out 0s; }
      .nav-list li:first-child a {
        border-top: 0; }
    .nav-list a {
      display: block;
      margin: 0 !important;
      padding: 0.4em 0 !important;
      width: 100%;
      color: white;
      text-align: center; }
      .nav-list a:hover, .nav-list a:visited {
        color: white;
        text-align: center; }
}
/*                              501px                    750px */
@media screen and (min-width: 31.313em) and (max-width: 46.875em) {
  nav {
    padding: 0;
    margin: 0; }

  .nav-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 0; }
    .nav-list li {
      float: left;
      width: 33.333%;
      border: 1px solid rgba(255, 255, 255, 0.05);
      padding: 0.5em;
      color: transparent;
      transition: background-color 0.3s ease-in-out 0s; }
      .nav-list li:hover, .nav-list li:active {
        background-color: #545454;
        transition: background-color 0.1s ease-in-out 0s; }
    .nav-list a {
      display: block;
      margin: 0 !important;
      padding: 0.4em 0 !important;
      width: 100%; }
}
/*                              750px */
@media screen and (max-width: 46.875em) {
  .nav-list li {
    margin: 0; }
    .nav-list li:before {
      content: ""; }
  .nav-list a {
    color: white; }
    .nav-list a:hover, .nav-list a:visited, .nav-list a:active {
      color: white; }
}

@media screen and (min-width: 768px) {
  .p58 {
    padding: 58px 0;
  }
  .p54 {
    padding: 54px 0;
  }
  .p40 {
    padding: 40px 0;
  }
  .p20 {
    padding: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .bg-red {
    text-align: center;
  }

  .bg-black {
    padding: 0;
  }

  .bg-black .pull-left, .bg-black .pull-right {
    float: none;
  }

  .bg-black [class*="span"] {
    margin: 20px 0;
  }

  .sponsors [class*="span"] {
    margin-top: 40px;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  .title {
    font-size: 2em;
    letter-spacing: 6px;
  }
  .subtitle {
    font-size: 0.8em;
    letter-spacing: 1px;
  }

}
