<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    {% if page.facebook_description %}<meta property="og:description" content="{{ page.facebook_description }}" />{% endif %}
    {% if page.facebook_image %}<meta property="og:image" content="{{ page.facebook_image }}" />{% endif %}
    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>

<body ng-app="medhack">
<div class="navbar navbar-fixed-top">
    <ul class="nav menu"> 
        <li><a scroll-to="#concept">Concept</a></li>
        <li><a scroll-to="#defi">Proposer un défi</a></li>
        <li><a scroll-to="#equipe">Rejoindre une équipe</a></li>
        <li><a scroll-to="#deroulement">Déroulement</a></li>
        <li><a scroll-to="#questions">Des questions ?</a></li>
        <li><a scroll-to="#presse">Presse</a></li>
        <li><a scroll-to="#sponsors">Partenaires et sponsors</a></li>
        <li><a href="inscription.html">S'inscrire</a></li>
    </ul>
</div>
<header>
    <div class="container">
        <div id="home-title">
            <h1>MedHack</h1>
            <p class="subtitle">65h pour créer l'innovation numérique en santé</p>
            <div id="date">
                <span class="date">XX - XX Janv 2014</span>
            </div>
            <div id="location">
                <span class="location">HUS</span>
            </div>
        </div> <!--home title ends-->
        <div class="clear"></div>
        <div id="home-signup">
            <a href="#">
                <div id="health-professionals-box">
                    <img src="img/health.png" alt="">
                    <h2>Professionnels de santé</h2>
                    <p>Vous avez des idées pour améliorer les pratiques et la prise en charge des patients</p>
                </div>
            </a>
            <a href="#">
                <div id="hackers-box">
                    <img src="img/hacker.png" alt="">
                    <h2>Hackers</h2>
                    <p>Vous maitrisez des technologies innovantes et vous aimez résoudre des problèmes</p>
                </div>
            </a>
            <div id="signup-bottom">
                <p style="margin-top:40px;">Rejoignez une équipe et concevez des solutions pour résoudre des problèmes médicaux en un weekend</p>
                <a href="inscription.html" id="home-signup-btn">INSCRIVEZ-VOUS</a>
            </div>
        </div>
    </div>
</header>
<section class="concept" id="concept">
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                <h2>Concept</h2>

                <p>Faire émerger des solutions innovantes à travers un échange direct entre “ceux qui fabriquent” (les
                    hackers) et “ceux qui utilisent” (les professionnels de santé).</p>

                <p>A partir des défis proposés des équipes se constituent pour mettre en oeuvre des solutions
                    logicielles et/ou matérielles.</p>
            </div>
        </div>
    </div>
</section>
<section class="defi" id="defi">
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                <h2>Proposer un défi</h2>

                <p>Le défi doit présenter une problématique médicale susceptible d’être résolue, ou du moins en partie,
                    par une approche numérique (logicielle et/ou matérielle).</p>

                <p>Le défi doit porter sur les thèmes suivants :
                <div class="theme">
                <ul>
                    <li>dossier patient</li>
                    <li>open data santé</li>
                    <li>médico social</li>
                    <li>imagerie médicale</li>
                    <li>télémédecine</li>
                    <li>lien ville-hôpital</li>
                    <li>DMP</li>
                    <li>m-santé et le mobile à l’hôpital</li>
                </ul>
                </div>
                </p>
                <p>Les défis peuvent être soumis jusqu’au dernier moment.</p>

                <p>Le porteur du défi doit présenter son défi le vendredi soir, trouver un capitaine et une équipe.</p>

                <a href="defi.html" class="btn">Je propose mon défi</a>

            </div>
        </div>
    </div>
</section>
<section class="equipe" id="equipe">
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                <h2>Rejoindre une équipe</h2>

                <p>Dès l’inscription vous pouvez sélectionner le défi qui vous intéresse parmi ceux déjà déposé. C’est
                    le vendredi soir après les pitch des porteurs de défis que les équipes se constitueront
                    officiellement.</p>

                <a href="inscription.html" class="btn">Je rejoins une équipe</a>
            </div>
        </div>
    </div>
</section>
<section class="deroulement" id="deroulement">
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                <h2>Déroulement</h2>
            </div>
        </div>
        <div class="row">
            <div class="span3 calbox">
                <h2>Vendredi</h2>

                <p>19h départ, les défis sont présentés par le porteur du défi, un capitaine est désigné et les équipes
                    se définissent. 5mn de présentation par défis.</p>
            </div>
            <div class="span3 calbox">
                <h2>Samedi</h2>

                <p>code, code, code …</p>
            </div>
            <div class="span3 calbox">
                <h2>Dimanche</h2>

             <p>code, code, code … jusqu'à 19h ! </p>

                <p>diner convivial</p>

                <p>repos ou pas</p>
            </div>
            <div class="span3 calbox">
                <h2>Lundi</h2>

                <p>9h présentation des projets</p>

                <p>11h délibération</p>

                <p>11h30 remise des prix</p>
            </div>
        </div>
    </div>
</section>
<section class="questions" id="questions">
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                <h2>Questions</h2>

                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseOne">
                                Qu’est ce qu’un hackathon ?
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Un hackathon est un évènement collaboratif où des développeurs et des designers se
                                retrouvent sur plusieurs jours pour réaliser des projets informatiques. Le terme
                                hackathon est la fusion de hack et marathon, où hack désigne la volonté d’assembler
                                toutes les technologies possibles pour créer un nouveau produit et marathon précise que
                                cela doit être fait en un temps donné sans s’arrêter.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseTwo">
                                Pourquoi un hackathon dédié à la santé ?
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Les professionnels de santé sont confrontés à des problèmes mais n’ont pas les
                                connaissances techniques pour y trouver des solutions. C’est l’occasion de profiter de
                                hackers qui aiment à résoudre des problèmes et concevoir des applications.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseThree">
                                Qui peut venir ?
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Des hackers : développeur et designer toutes technologies confondues qui ont envie
                                d’apporter leurs compétences à ce secteur et de travailler en direct avec des
                                professionnels de santé.
                                <br>
                                Des professionnels de santé : médecin, chirurgien, infirmier, aide-soignant,
                                administrateur qui ont des problématiques et des idées pour les résoudre mais pas de
                                compétences pour les réaliser.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseFour">
                                Qui peut soumettre un défi ?
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Toute personne qui à une idée en rapport avec une problématique de santé peut pitcher
                                une idée et rassembler une équipe.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseFive">
                                A partir de quand peut on soumettre un défi ?
                            </a>
                        </div>
                        <div id="collapseFive" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Nous ouvrirons l’appel à défi 1 mois avant l’évènement, inscrivez-vous à la newsletter
                                pour être tenu informé.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseSix">
                                Quel est l’objectif de cet évènement ?
                            </a>
                        </div>
                        <div id="collapseSix" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Lors de l’évènement l’idée est de réaliser des prototypes qui montrent la viabilité d’une
                                idée pour améliorer la santé, la prise en charge des patients, l’accès aux soins...
                                <br>
                                Plus généralement l’idée est de stimuler l’innovation en faisant travailler ensemble des
                                utilisateurs et des concepteurs. De faire en sorte qu’aucune bonne idée ne reste au placard
                                par manque de moyens pour la réaliser. Et ainsi d’apporter au secteur de la santé des
                                améliorations significatives tant pour les patients que pour les praticiens.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseSeven">
                                Quid de la propriété de la solution réalisée ?
                            </a>
                        </div>
                        <div id="collapseSeven" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Les applications ou produits réalisés lors de l’évènement sont la propriété de ceux qui
                                l’on conçu. MedHack est un évènement destiné à faciliter la mise en oeuvre de solutions et
                                n’a pas vocation à revendiquer la propriété. Aux équipes de définir dès le début du
                                projet la propriété de ce qu’elles vont réaliser. Un projet peut aboutir à un produit
                                propriétaire ou devenir open-source, c’est à l’équipe de le définir. Le risque d’exposer
                                votre idée au public est compensée par le bénéfice de savoir si elle pertinente et de
                                trouver une équipe qui y adhère.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseEight">
                                Combien ça coute ?
                            </a>
                        </div>
                        <div id="collapseEight" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                74,99 Euros sans l’hébergement
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseNine">
                                Ou peut on dormir ?
                            </a>
                        </div>
                        <div id="collapseNine" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Sur place pour les plus endurcis et sinon dans les hotels aux alentours TODO LINKS
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseTen">
                                Qui organise cet évènement ?
                            </a>
                        </div>
                        <div id="collapseTen" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Alsace Digitale est une association d’entrepreneurs et de geeks dont l’objectif est de promouvoir l’économie numérique et l’entrepreunariat en Alsace.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               data-target="#collapseEleven">
                                Combien attendez vous de personnes ?
                            </a>
                        </div>
                        <div id="collapseEleven" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                100 tous 1/3 de professionnels de santé 2/3 de hackers
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="presse" id="presse">
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                <h2>Presse</h2>
            </div>
        </div>
    </div>
</section>
<section class="sponsors" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Sponsors et Partenaires</h2>
                <ul class="inline sponsors">
                    <li><a href="http://www.alsacedigitale.org" target="_blank"><img src="img/alsacedigitale.png"/></a>
                    </li>
                    <li><a href="http://www.laplagedigitale.eu" target="_blank"><img src="img/laplagedigitale.png"/></a>
                    </li>
                    <li><a href="http://www.strasbourg.eu" target="_blank"><img class="smaller"
                                                                                src="img/strasbourg_eu.jpg"/></a></li>
                    <li><a href="http://www.strasbourg.eu" target="_blank"><img src="img/StrasbourgTheEuroptimist.png"/></a>
                    </li>
                    <br/>
                    <li><a href="http://www.unistra.fr" target="_blank"><img src="img/uds.png"/></a></li>
                    <li><a href="http://www.sfr.fr" target="_blank"><img src="img/sfr.png"/></a></li>
                    <li><a href="http://www.semia-incal.com" target="_blank"><img src="img/semia.png"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
    </div>
</footer>

<script type="text/javascript" src="components/jquery/jquery.js"></script>
<script type="text/javascript" src="components/angular/angular.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/medhack.js"></script>

<script>
    $(".collapse").collapse();
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXXXX', 'medhack.fr');
    ga('send', 'pageview');

</script>
</body>
</html>
