<div class="navbar navbar-fixed-top">
    <ul class="nav menu">
        <li><a scroll-to="#concept">Concept</a></li>
        <li><a scroll-to="#defi">Proposer un défi</a></li>
        <li><a scroll-to="#equipe">Rejoindre une équipe</a></li>
        <li><a scroll-to="#deroulement">Déroulement</a></li>
        <li><a scroll-to="#questions">Des questions ?</a></li>
        <li><a scroll-to="#presse">Presse</a></li>
        <li><a scroll-to="#sponsors">Partenaires et sponsors</a></li>
        <li><a href="inscription.html">S'inscrire</a></li>
    </ul>
</div>
